@model CommuteForm
<partial name="_Nav"/>
<hr>
<h4 class="d-block bg-primary p-3 text-light text-center rounded">Create a New Commute</h4>
<div class="row mt-4">
    <div class="col"></div>
    <div class="col-8">
        <form method="post" asp-controller="Pool" asp-action="AddCommute">
            <div class="form-row">
                <div class="form-group col-4">
                    <label class="d-block" for="StartPoint">Start Point:</label>
                    <select asp-for="StartLocationId">
                        <option>Select location...</option>
                        @foreach (Location loc in @ViewBag.ListofLocations)
                        {
                            <option value="@loc.Id">@loc.LocationNickname</option>
                        }
                    </select>
                </div>
                <div class="form-group col-4">
                    <label class="d-block" for="EndPoint">Destination:</label>
                    <select asp-for="EndLocationId">
                        <option>Select location...</option>
                        @foreach (Location loc in @ViewBag.ListofLocations)
                        {
                            <option value="@loc.Id">@loc.LocationNickname</option>
                        }
                    </select>
                </div>
                <div class="form-group col-4">
                    <label class="d-block" asp-for="ArriveBy">Arrival Time:</label>
                    <input asp-for="ArriveBy" type="time" />
                </div>
            </div>
                <a class="d-block btn-sm text-center btn-primary col-3" href="/mylocations">Create New Location</a>

                <p class="mt-4">Select Days for this Route:</p>
                <div class="form-check form-check-inline">
                    <label asp-for="Monday">Monday</label>
                    @Html.CheckBoxFor(m => m.Monday)
                    <!-- <input class="form-check-input" type="checkbox" value="" id="Mon">
                    <label class="form-check-label" for="Mon">Mon</label> -->
                </div>
                <div class="form-check form-check-inline">
                    <label asp-for="Tuesday">Tuesday</label>
                    @Html.CheckBoxFor(m => m.Tuesday)
                    <!-- <input class="form-check-input" type="checkbox" value="" id="Tue">
                    <label class="form-check-label" for="Tue">Tue</label> -->
                </div>
                <div class="form-check form-check-inline">
                    <label asp-for="Wednesday">Wednesday</label>
                    @Html.CheckBoxFor(m => m.Wednesday)
                    <!-- <input class="form-check-input" type="checkbox" value="" id="Wed">
                    <label class="form-check-label" for="Wed">Wed</label> -->
                </div>
                <div class="form-check form-check-inline">
                    <label asp-for="Thursday">Thursday</label>
                    @Html.CheckBoxFor(m => m.Thursday)
                    <!-- <input class="form-check-input" type="checkbox" value="" id="Thu">
                    <label class="form-check-label" for="Thu">Thu</label> -->
                </div>
                <div class="form-check form-check-inline">
                    <label asp-for="Friday">Friday</label>
                    @Html.CheckBoxFor(m => m.Friday)
                    <!-- <input class="form-check-input" type="checkbox" value="" id="Fri">
                    <label class="form-check-label" for="Fri">Fri</label> -->
                </div>
                <div class="form-check form-check-inline">
                    <label asp-for="Saturday">Saturday</label>
                    @Html.CheckBoxFor(m => m.Saturday)
                    <!-- <input class="form-check-input" type="checkbox" value="" id="Sat">
                    <label class="form-check-label" for="Sat">Sat</label> -->
                </div>
                <div class="form-check form-check-inline">
                    <label asp-for="Sunday">Sunday</label>
                    @Html.CheckBoxFor(m => m.Sunday)
                    <!-- <input class="form-check-input" type="checkbox" value="" id="Sun">
                    <label class="form-check-label" for="Sun">Sun</label> -->
                </div>
                <input type="hidden" asp-for="CarpoolId" value="@ViewBag.carpoolid" />
                <input class="btn btn-success ml-4" type="submit" value="Add New Commute!">
        </form>
    </div>
    <div class="col"></div>
</div>