<div class="row">
    <div class="col">
        <h2 class="ml-3">SmartPool</h2>
    </div>
    <div class="col">
        <p class="float-right mt-3">
            <a href="/logout" class="mr-3"> Logout</a></p>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <h4 class="text-danger">@Html.ValidationMessage("Error")</h4>
</div>
<div class="row justify-content-center">
    <h3>Welcome, @ViewBag.logged_in_user.FirstName!</h3>
</div>
<div class="row">
    <div class="col-md-6 justify-content-center">
        <div class="row justify-content-center">
            <a href="/profile" class="p-3 text-center d-block mt-4 btn btn-secondary" style="min-width: 330px;">My Profile</a>
        </div>
        <div class="row justify-content-center">
            <a href="/carpools" class="p-3 text-center d-block mt-2 btn btn-info" style="min-width: 330px;">View/Join Carpools</a>
        </div>
        @if (!(@ViewBag.logged_in_user.carpools is null))
        {
            @foreach (Carpool carpool in @ViewBag.logged_in_user.carpools)
            {
                <div class="row justify-content-center">
                    <a href="/carpool/@carpool.Id" class="p-3 text-center d-block mt-2 btn btn-primary" style="min-width: 330px;">View My Carpool: @carpool.Name</a>
                </div>
            }
            @foreach (Ridership ridership in @ViewBag.logged_in_user.riderships)
            {
                <div class="row justify-content-center">
                    <a href="/carpool/@ridership.carpool.Id" class="p-3 text-center d-block mt-2 btn btn-success" style="min-width: 330px;">View My Carpool: @ridership.carpool.Name</a>
                </div>
            }
        }
    </div>

    <div class="col-md-6 justify-content-center">
        <partial name="_NewCarpoolForm"/>
    </div>
</div>