<partial name="_Nav"/>
@model Carpool

<hr>
<div class="row">
    <div class="col">
        <h4 class="d-block bg-success p-3 text-light text-center rounded">Edit Carpool Details</h4>
        <form method="post" action="/updatedetails/carpool">
            <h3 class="mt-4 d-inline">Carpool Name:</h3> <input name="Name" class="ml-2 col-9" type="text" value="@Model.Name">
            <p class="mt-4"><span class="font-weight-bold d-inline">Description:</span></p><textarea name="Description" placeholder="Add a detailed description.  For example:  2 people commuting from Issaquah to Seattle.  Need 1 more to use the HOV lane.  Call or text Dave" class="col-12">@Model.Description</textarea>
            <input type="hidden" name="CarpoolId" value="@Model.Id">
            <input type="submit" class="btn-sm btn-secondary" value="Update Carpool">
        </form>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <div class="mt-4">
            <p>Riders in this pool:</p>
            <div class="row">
                <div class="ml-3 d-inline text-center">
                @foreach (Ridership ridership in @Model.riderships)
                {
                    <div class="col">
                        <img class="d-inline" src="https://via.placeholder.com/150">
                        <p>@ridership.user.FirstName @ridership.user.LastName</p>
                        <a href="/ridership/leave/@ridership.user.Id/@Model.Id" class="btn-sm btn-danger">Kick Rider</a>
                    </div>
                }

            </div>
        </div>
        <div class="mt-4">
            <table class="my-4 table table-bordered">
                <thead>
                    <th scope="col-2">Day</th>
                    <th scope="col-2">Arrive By</th>
                    <th scope="col-2">Destination</th>
                    <th scope="col-2">City</th>
                </thead>
                <tbody>
                    <tr>
                        @foreach (Commute c in @Model.commutes)
                        {
                        <tr>
                            <td><a title="Delete" href="/delete/commutes/@c.Id"><img class="mr-4" width="20px" src="~/images/trash.png" alt="Delete"></a>@c.Day</td>
                            <td class="ml-4">@c.ArriveBy</td>
                            <td>@c.endLocation.LocationNickname</td>
                            <td>@c.endLocation.City</td>
                        </tr>
                        }

                </tbody>
            </table>
            <a href="/create/commute/@Model.Id" class="mt-4 d-inline btn btn-success p-3">Add New Commute</a>
        </div>
    </div>
</div>